In [57]:
import pandas as pd
from sqlalchemy import create_engine
import getpass
import numpy as np

In [58]:
csv_file = "Resources/inc5000_2019.csv"
inc5000 = pd.read_csv(csv_file)
inc5000.head()

,rank,name,state,revenue,growth,industry,workers,founded,yrs_on_list,previous_workers,metro,city
0,1,Freestar,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix
1,2,FreightWise,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood
2,3,Cece's Veggie Co.,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin
3,4,LadyBoss,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2014,1,2,NaN,Albuquerque
4,5,Perpay,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia

In [59]:
inc5000.dtypes

rank                  int64
name                 object
state                object
revenue              object
growth              float64
industry             object
workers             float64
founded               int64
yrs_on_list           int64
previous_workers      int64
metro                object
city                 object
dtype: object

In [60]:
connection_string = f"postgres:{pw}@localhost:5432/inc5000_2019"
engine = create_engine(f'postgresql://{connection_string}')

In [61]:
pw = getpass.getpass()

········

In [64]:
engine.table_names()

['inc5000']

In [65]:
inc5000.to_sql(name='inc5000', con=engine, if_exists='append', index=False)