In [1]:
import pandas as pd
from sqlalchemy import create_engine
import getpass
import numpy as np

In [3]:
csv_file = "Resources/inc5000_2014.csv"
inc5000 = pd.read_csv(csv_file)
inc5000.head()

,id,rank,workers,company,state,state.1,city,metro,growth,revenue,industry,yrs_on_list
0,22890,1,227,Fuhu,California,CA,El Segundo,Los Angeles,158956.9106,195640000,Consumer Products & Services,2
1,25747,2,191,Quest Nutrition,California,CA,El Segundo,Los Angeles,57347.9246,82640563,Food & Beverage,1
2,25643,3,145,Reliant Asset Management,Virginia,VA,Arlington,Washington DC,55460.1646,85076502,Business Products & Services,1
3,26098,4,62,Superfish,California,CA,Palo Alto,San Jose,26042.9630,35293000,Software,1
4,26182,5,92,Acacia Communications,Massachusetts,MA,Maynard,Boston,20690.4578,77652360,Telecommunications,1

In [4]:
inc5000.dtypes

id               int64
rank             int64
workers          int64
company         object
state           object
state.1         object
city            object
metro           object
growth         float64
revenue          int64
industry        object
yrs_on_list      int64
dtype: object

In [7]:
connection_string = f"postgres:{pw}@localhost:5432/inc5000_2014"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
pw = getpass.getpass()

········

In [11]:
engine.table_names()

['inc5000']

In [12]:
inc5000.to_sql(name='inc5000', con=engine, if_exists='append', index=False)