In [1]:
import pandas as pd
from sqlalchemy import create_engine
import getpass
import numpy as np

In [3]:
csv_file = "Resources/movies_clean_1.csv"
movies = pd.read_csv(csv_file)
movies.head()

,Unnamed: 0,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count
0,2,False,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,tt0113101,en,Four Rooms,9.026586,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",12/9/1995,4300000.0,98.0,Released,Four Rooms,6.5,539.0
1,4,False,11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",11,tt0076759,en,Star Wars,42.149697,"[{'name': 'Lucasfilm', 'id': 1}, {'name': 'Twe...",5/25/1977,775398007.0,121.0,Released,Star Wars,8.1,6778.0
2,5,False,94000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",12,tt0266543,en,Finding Nemo,25.497794,"[{'name': 'Pixar Animation Studios', 'id': 3}]",5/30/2003,940335536.0,100.0,Released,Finding Nemo,7.6,6292.0
3,6,False,55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",13,tt0109830,en,Forrest Gump,48.307194,"[{'name': 'Paramount Pictures', 'id': 4}]",7/6/1994,677945399.0,142.0,Released,Forrest Gump,8.2,8147.0
4,7,False,15000000,"[{'id': 18, 'name': 'Drama'}]",14,tt0169547,en,American Beauty,20.726578,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...",9/15/1999,356296601.0,122.0,Released,American Beauty,7.9,3438.0

In [4]:
movies.dtypes

Unnamed: 0                int64
adult                      bool
budget                    int64
genres                   object
id                        int64
imdb_id                  object
original_language        object
original_title           object
popularity              float64
production_companies     object
release_date             object
revenue                 float64
runtime                 float64
status                   object
title                    object
vote_average            float64
vote_count              float64
dtype: object

In [7]:
connection_string = f"postgres:{pw}@localhost:5432/Project_Two"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
pw = getpass.getpass()

········

In [9]:
engine.table_names()

['movies']

In [10]:
movies.to_sql(name='movies', con=engine, if_exists='append', index=False)