In [1]:
import pandas as pd
from sqlalchemy import create_engine
import getpass
import numpy as np

In [2]:
csv_file = "Resources/Imports_Consumption.csv"
imports = pd.read_csv(csv_file)
imports.head()

,Country,Year 2015,Year 2016,Year 2017,Year 2018,Year 2019,Percent Change 2019 - 2020
0,Afghanistan,"23,472,001","33,851,625","13,520,650","29,691,427","37,500,386",26.30
1,Albania,"30,779,349","28,707,466","41,560,078","67,921,709","56,611,048",-16.65
2,Algeria,"2,933,159,725","3,053,054,671","3,938,798,603","4,664,608,147","2,639,271,012",-43.42
3,Andorra,"4,847,957","6,610,069","13,539,250","16,016,849","12,241,319",-23.57
4,Angola,"3,009,895,509","2,916,523,754","2,650,634,592","2,781,141,719","1,037,173,143",-62.71

In [3]:
imports.dtypes

Country                        object
Year 2015                      object
Year 2016                      object
Year 2017                      object
Year 2018                      object
Year 2019                      object
Percent Change 2019 - 2020    float64
dtype: object

In [4]:
csv_file = "Resources/Total_Exports.csv"
exports = pd.read_csv(csv_file)
exports.head()

,Country,Year 2015,Year 2016,Year 2017,Year 2018,Year 2019,Percent Change 2019 - 2020
0,Afghanistan,478711.52,913874.35,942037.82,1226885.15,750615.21,-38.82
1,Albania,30897.67,50293.42,62086.96,59200.12,85664.14,44.70
2,Algeria,1875732.77,2191261.62,1061823.30,1261067.30,999323.37,-20.76
3,Andorra,3336.82,2830.27,3285.17,3065.76,3350.39,9.28
4,Angola,1166094.81,1249758.18,809493.49,525185.65,536171.05,2.09

In [5]:
exports.dtypes

Country                        object
Year 2015                     float64
Year 2016                     float64
Year 2017                     float64
Year 2018                     float64
Year 2019                     float64
Percent Change 2019 - 2020    float64
dtype: object

In [6]:
connection_string = f"postgres:{pw}@localhost:5432/Project_Two"
engine = create_engine(f'postgresql://{connection_string}')

NameError: name 'pw' is not defined

In [ ]:
pw = getpass.getpass()

In [ ]:
engine.table_names()

In [ ]:
imports.to_sql(name='imports', con=engine, if_exists='append', index=False)

In [7]:
exports.to_sql(name='exports', con=engine, if_exists='append', index=False)

NameError: name 'engine' is not defined